*{
    margin: 0;
    padding: 0;
}
.quicksand-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

nav{
    display: flex;
    padding: 1.25rem 8.8125rem 0 8.8125rem;
    justify-content: space-between;
    align-content: center;
}
.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;
}
.Menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.btn-primary{
    width: 12.3125rem;
    height: 3.125rem;
    border-radius: 0.75rem;
    padding: 0.625rem;
}
#Contact{
    color: #ffffff;
    font-weight: 600;
    font-size: medium;
    background-color: orange;
}
#icon-style{
    display: none;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 8.8125rem 0 8.8125rem;
    margin-bottom: 2rem;
}
.banner-title h1{
    font-size: 3rem;
    font-weight: 700;
}
.banner-title{
    width: 40rem;
    height: auto;
}
#Enroll{
    background-color: black;
    color: #ffffff;
    font-weight: 600;
    font-size: medium;
    margin-top: 1.8rem;
}
.curriculum{
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardholder{
    padding: 1.25rem 8.8125rem 0 8.8125rem;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0;
    gap: 1rem;
}
.card{
    width: 20.5rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 1px 1px 3px black;
    border-radius: 12px;
}
#card-1{
    background-image: linear-gradient(#DEF5FF, white);
}
#card-1 a{
    color: #168bbd;
}
#card-2{
    background-image: linear-gradient(#FFF4DC, white);
}
#card-2 a{
    color: #cfb011;
}
#card-3{
    background-image: linear-gradient(#F2E8FF, white);
}
#card-3 a{
    color: #8f12e1;
}
.card img{
    width: 8.25rem;
    height: 8.45rem;
    margin: 4rem auto 1.4rem auto;
}
.card h3{
    margin: 1.1rem auto;
}
.card p{
    color:#808080;
    text-align: center;
    font-size: normal;
    margin: 1rem 0;
}
.card a{
    margin: 1rem auto;
    text-decoration: none;
    font-weight: bold;
}
.Arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 30px auto;
}
.angle{
    display: flex;
    width: 70px;
    height: 70px;
    background-color: orange;
    font-size: 3rem;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-image: linear-gradient(to top, rgb(254, 163, 1, 30%), white), url("assets/bg.png");
    background-blend-mode: multiply;
    
}
.wrapper{
    display: flex;
    gap: 2.1rem;
    justify-content: center;
    align-items: center;
    padding: auto 141px;
    margin-bottom: 5rem;
}
.container-2{
    position: relative;
}
.container-2 img{
    width: 540px;
    height: 337px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.legendary{
  position: absolute;
  bottom: -15px;
  left: 20%;
  transform: translateX(-50%);
  background-color: #168bbd;
  padding: 12px 18px;
  font-size: medium;
  font-weight: bold;
  color: #ffffff;
  border: 1px solid #383030;
  border-radius: 48px;
}
.box-1{
    width: 34.8rem;
    height: 39.408rem;
    border-radius: 16px;
    background-color: white;
}
.box-1 h3{
    margin: 50px 99px 51px 38px;
    font-size: larger;
}
.box-1 p{
    margin: 47px 68px 34px 38px;
    font-size: medium;
    font-weight: 15.34px;
}
.box-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 37.563rem;
    height: 38.9rem;
    gap: 10px;
}
.grid-card{
    width: 18.168rem;
    height: 18.851rem;
    background-color: white;
    border-radius: 16px;
}
.grid-card div{
    position: relative;
}
.grid-card legend{
  position: absolute;
  bottom: -15px;
  left: 40%;
  transform: translateX(-50%);
  padding: 7px 11px;
  font-size: medium;
  font-weight: bold;
  color: white;
  border: 1px solid #383030;
  border-radius: 48px;
}
.grid-card img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.grid-card h3{
    font-size: 0.9rem;
    margin: 38px 38px 28px 38px;
}


#btn-2{
    background-color: black;
    color: #ffffff;
    font-weight: 600;
    font-size: medium;
    margin-bottom: 60px;
}


@media screen and (max-width: 450px) {
    body{
        overflow-x:hidden;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }
    nav{
        max-width: 450px;
        display: flex;
        padding: 1rem 1.5rem;
        border-bottom: 1px orange solid;
    }
    .Logo h1, 
    .Menu,
    #Contact{
        display: none;
    }
    #icon-style{
        display: inline;
        width: 1.875rem;
        height: 1.875rem;
        margin-top: 2px;
        font-size: 1.8rem;
    }
    .Logo img{
        width: 2.875rem;
        height: 2.875rem;
    }
    
    .banner{
        padding: 1.2rem auto;
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
    }
    .banner img{
        width:21rem;
        height: 25.813rem;
        margin: 1.5rem 0;
    }
    .banner-title{
        width: 21.036rem;
        height: 15.75rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-title p{
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center;
    }
    .banner h1{
        font-size: 2rem;
        font-weight: 600;
    }
    #Enroll{
        width: 8rem;
        height: 3rem;
    }
    .curriculum{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cardholder{
        width: 98%;
        height: auto;
        padding: 1.25rem 0.1rem 1rem 0.1rem;
        padding: 0;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    .card{
        width: 90%;
        height: 33%;
        padding: 0;
    }
    .card img{
        width: 8.25rem;
        height: 8.45rem;
        margin: 1.2rem auto;
    }
    .Arrow{
        display: none;
    }
    .box-1{
        display: none;
    }
    .wrapper{
        justify-content: center;
        align-items: center;
        padding: auto 16px;
    }
    .box-2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 22.336rem;
        height: auto;
        gap: 10px;
    }
    .grid-card{
        width: 173.35px;
        height: 179.59px;
    }
    .grid-card legend{
        padding: 5px 5px;
        font-size: 0.5rem;
        bottom: -7.5px;
        font-weight: bold;
        color: white;
        border: 1px solid #383030;
        border-radius: 48px;
      }
      .grid-card img{
          width: 100%;
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
      }
      .grid-card h3{
          font-size: 0.6rem;
          margin: 20px 32.6px 20px 22.57px;
      }
    
}